*{
    margin: 0px;
   padding: 0px;
    box-sizing: border-box;
    
}
header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    align-items: center;

}
ul{
    list-style: none;
    display: flex;
    align-content: center;
    
    
  
    
}ul li a{
    margin: 20px;
   text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
        
}.bg{
    width: 600px;
    height: 550px;
    margin: 100px;
   
    
}

nav{
    font-size: 30px;
    margin: 50px;
    text-align: center;
  
}
main{
    
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-100px);
    
    
   
}main p{
   font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    margin: 25px 0; 
  
}
h1{
margin: 30px;

   font-size: 40px;
    color: blue;
}
h2{
    margin: 20px;
  font-size: 30px;
    color: tomato;

 
}.sign{
    padding: 20px;
     margin: 12px;
    border: 2px solid cadetblue;
    border-radius: 50px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}
button{
    padding: 20px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid cadetblue;

}ul li a:hover{
    background-color:greenyellow;
    font-size: 30px;
    color: red;
    font-weight: bold;
    
    
}
.car{
    
  
    border-radius: 50%;
    
}